@charset "UTF-8";


@media print {
    body {
        background-image: url(../img/back-print.png);
        font-family: 'Courier New', Courier, monospace;
        background-color: aliceblue;
    }

    main {
        border: 2px solid black;
    }

    main::after {
        content: "Essa impressão veio de um site teste do curso em vídeo!";
    }

    img#phone {
    display: none;
    }

    img#tablet {
    display: none;
    }

    img#print {
    display: block;
    }

    img#pc {
    display: none;
    }

    img#tv {
    display: none;
    }
}

@media screen and (min-width: 768px) and (max-width:992px) {
    body {
        background-image: url(../img/back-tablet.png);
    }

    img#phone {
    display: none;
    }

    img#tablet {
    display: block;
    }

    img#print {
    display: none;
    }

    img#pc {
    display: none;
    }

    img#tv {
    display: none;
    }
}

@media screen and (min-width: 992px) and (max-width:1200px) {
    body {
        background-image: url(../img/back-pc.png);
    }

    img#phone {
    display: none;
    }

    img#tablet {
    display: none;
    }

    img#print {
    display: none;
    }

    img#pc {
    display: block;
    }

    img#tv {
    display: none;
    }
}

@media screen and (min-width: 1200px) {
    body {
        background-image: url(../img/back-tv.png);
    }

    img#phone {
    display: none;
    }

    img#tablet {
    display: none;
    }

    img#print {
    display: none;
    }

    img#pc {
    display: none;
    }

    img#tv {
    display: block;
    }
}