@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3em;
    box-sizing: border-box;
}

html {
    height: 100vh;
}

body {
    background: black url(../img/back-phone.png) no-repeat;
    background-size: cover;
    background-position: center center;
}

main {
    background-color: rgba(240, 248, 255, 0.89);
    width: 80vw;
    margin: auto;
    margin-top: 32px;
    border-radius: 16px;
    padding: 16px;
}

h1 {
    text-align: center;
    padding: 16px;
}

img {
    display: block;
    margin: auto;
}

img#phone {
    display: block;
}

img#tablet {
    display: none;
}

img#print {
    display: none;
}

img#pc {
    display: none;
}

img#tv {
    display: none;
}