@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body, html {
    background-color: rgb(150, 189, 223);
}

header {
    background-color: rgb(56, 110, 158);
}

header > h1 {
    padding: 8px;
    text-align: center;
}

span#burguer {
    background-color: aliceblue;
    display: block;
    color: rgb(56, 110, 158);
    text-align: center;
    padding: 8px;
    cursor: pointer;
}

span#burguer:hover {
    background-color: rgb(56, 110, 158);
    color: aliceblue;
}

menu {
    display: none;
}

menu > ul {
    list-style-type: none;
}

menu > ul > li > a {
    display: block;
    padding: 8px;
    text-decoration: none;
    text-align: center;
    background-color: rgb(75, 143, 202);
    border-bottom: 2px solid rgb(121, 177, 250);
    color: white;
}

menu > ul > li > a:hover {
    background-color: rgb(101, 178, 247);
}

main {
    width: 90vw;
    background-color: white;
    margin: auto;
    margin-top: 16px;
    padding: 16px;
    border-radius: 8px;
}

article > h2 {
    padding-bottom: 8px;
}

article > p {
    text-align: justify;
    margin-bottom: 8px;
    text-indent: 8px;
}